<div align="center">
<table style="width:100.0%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<div align="center">
<table style="width:100.0%;background:white;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<div align="center">
<table style="width:450.0pt;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="600">
<tbody>
<tr>
<td style="padding:7.5pt 0cm 7.5pt 0cm" valign="top">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<div align="center">
<table style="width:100.0%;background:white;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<div align="center">
<table style="width:450.0pt;border-collapse:collapse;min-width:100%" border="0" cellpadding="0" cellspacing="0" width="600">
<tbody>
<tr>
<td style="padding:7.5pt 0cm 7.5pt 0cm" valign="top">
<table style="width:100.0%;border-collapse:collapse;min-width:100%" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:6.75pt 6.75pt 6.75pt 6.75pt" valign="top">
<table style="width:100.0%;border-collapse:collapse" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 6.75pt 0cm 6.75pt" valign="top">
<p class="MsoNormal" style="text-align:center" align="center"><a href="http://kellogg.campusgroups.com/click.aspx?uid=3d2f5352-c8fc-11e5-8e36-0025902f7e74&amp;r=https%3a%2f%2fkellogg.campusgroups.com%2fhightech%2fabout%2f" title="" target="_blank"><span style="text-decoration:none"><img class="CToWUd" src="https://ci5.googleusercontent.com/proxy/osCqvNKPI9eCjM1RFJNrBc9EZhNalIkNDhC_84v8rSKA8P_vPNRtYRwCWEv2J6SrZpR70cXRJajM8pbBPcZ2YIhloZaUNTuRvwlVwvHMzhGTy8sy01ndShVN_AlA38CiymGcLZwKG_DzL154w1nYosmwzTR2YcIicbzZxtM=s0-d-e1-ft#https://gallery.mailchimp.com/8b57c6b5557909c48473ea71e/images/75ed2b8c-48b1-4bd5-a406-d969d1c5b198.png" border="0" width="564"></span></a><u></u><u></u></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal"><u></u>&nbsp;<u></u></p>
<table style="width:100.0%;border-collapse:collapse;min-width:100%" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<table style="width:100.0%;border-collapse:collapse;min-width:100%" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:6.75pt 13.5pt 6.75pt 13.5pt" valign="top">
<p class="MsoNormal" style="text-align:center;line-height:150%" align="center"><strong><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">NEWSLETTER: {{newsdate}}</span></strong><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:black"><u></u><u></u></span></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal"><u></u>&nbsp;<u></u></p>
<table style="width:100.0%;border-collapse:collapse;min-width:100%" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:7.5pt 13.5pt 0cm 13.5pt;min-width:100%">
<table style="width:100.0%;border-collapse:collapse;border:none;min-width:100%" border="1" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="border:none;border-top:solid black 3.0pt;padding:0cm 0cm 0cm 0cm;min-width:100%">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<div align="center">
<table style="width:100.0%;background:white;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<div align="center">
<table style="width:450.0pt;border-collapse:collapse;min-width:100%" border="0" cellpadding="0" cellspacing="0" width="600">
<tbody>
<tr>
<td style="padding:7.5pt 0cm 7.5pt 0cm" valign="top">
<table style="width:100.0%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<div align="center">
<table style="width:100.0%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top"></td>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<table style="width:100.0%;border-collapse:collapse;min-width:100%" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:6.75pt 13.5pt 6.75pt 13.5pt;min-width:100%">
<p class="MsoNormal"><u></u>&nbsp;<u></u></p>
<table style="width:100.0%;border-collapse:collapse;min-width:100%" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm" valign="top">
<table style="width:100.0%;border-collapse:collapse;min-width:100%" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding:6.75pt 13.5pt 6.75pt 13.5pt" valign="top">
                  {{#each newPosts}}

                      	<p class="MsoNormal" style="line-height:150%"><strong><u><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#f2f2f2">{{name}}<u></u><u></u></span></u></strong><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:black">
<u></u><u></u></span></p>
<div>
<p class="MsoNormal" style="line-height:15.6pt"><span style="font-size:11.5pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:black"><br>
</span>
                      {{#each posts}}
                      <p>
                            {{#each categoryValues}}
                              {{#with (lookup ../categoryNames @index)}}
                                <div class="{{this}}"> {{../this}}</div>
                                <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><a href="#578078200_AnalyticsR"><b><span style="color:#580e90;text-decoration:none">{{this}} &nbsp;| &nbsp;{{../this}}</span></b></a><br>

                              {{/with}}
                            {{/each}}
                      </p>
                      {{/each}}
                    {{/each}}

</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

</div>
</td>
</tr>
</tbody>
</table>


</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>