  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>
  <a href="/">Home</a>
  {{#each postStructures}}
  	<p>{{name }}</p>
  	<form action="/posts/new" method="POST">
  		<input name="group" value="{{../title}}" hidden>
  		<input name="postType" value="{{name}}" hidden>
  		<button type="submit">Create new {{name}}</button>
  	</form>
  	<form action="/posts/view" method="GET">
  		<input name="group" value="{{../title}}" hidden>
    	<input name="postType" value="{{name}}" hidden>
  		<button type="submit">View {{name}}s</button>
  	</form>

  {{/each}}

{{#each posts}}
	</br>
	<p> {{this.name}}</p>
	{{#each categoryValues}}
		<p> {{this}}</p>
	{{/each}}
{{/each}}