  {{#with post}}
  	<p>Create new {{name }}</p>
  	<form action="/posts/new/value" method="POST">
  	<input name="group" value="{{../group}}" hidden>
  	<input name="postName" value="{{name}}" hidden>
  	{{#each categoryNames}}
  			<p>{{this}}</p>
  			<input name="postCat" value="{{this}}" hidden>  			
	  		<input name="textBody"></input>
  	{{/each}}
  	<button type="submit">Create</button>
  	</form>  	
  {{/with}}