        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{groupName }}
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Club</a></li>
            <li class="active">{{groupName }}</li>
          </ol>
        </section>


        <!-- Main content -->
        <section class="content">
        <div class="row">
            <div class="col-md-12">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                  <li{{#if isNew}} class="active"{{/if}}><a href="/posts/view?user={{user}}&#38;groupId={{groupId}}&#38;postType=New">New</a></li>
                  {{#each postStructures}}                
                  <li {{#compare this '==' ../postType }} class="active"{{/compare}}>
                    <a href="/posts/view?user={{../user}}&#38;groupId={{../groupId}}&#38;postType={{this}}">{{this}}s</a>
                  </li>
                  {{/each}}
                  {{#if isNew}}{{else}}
                  <li class="dropdown pull-right">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-plus"></span><span class="caret"></span>
                  <ul class="dropdown-menu">
                    {{#each postStructures}}
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="/posts/new?user={{../user}}&#38;groupId={{../groupId}}&#38;postType={{this}}">{{this}}</a>
                    </li>
                    {{/each}}
                  </ul>
                  </li>
                  {{/if}}
                </ul>
              </div><!-- nav-tabs-custom -->
                {{#if isNew}}
                  {{#each newPosts}}
                    <div class="box box-primary">
                      <div class="box-header">
                        <h3 class="box-title"><div class="{{name}}">{{name}}</div></h3>
                        <div class="box-tools pull-right">
                          <a class="btn btn-box-tool" href="/posts/new?user={{../user}}&#38;groupId={{../groupId}}&#38;postType={{name}}"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                      {{#each posts}}
                      <div class="box-body">
                          <ul class="box-body col-md-12 info">
                            {{#each categoryValues}}
                              {{#with (lookup ../categoryNames @index)}}
                                <div class="{{this}}"> {{../this}}</div>
                              {{/with}}
                            {{/each}}
                          </ul>
                      </div>
                      {{/each}}
                    </div><!-- /.box-content -->
                    <div class="p-x-2"></div>
                    {{/each}}
                  <!-- /.tab-pane -->
                {{else}}
                  <div class="box box-primary">
                  {{#each posts}}
                  <ul class="box-body col-md-12 info">                      
                        {{#each categoryValues}}
                          {{#with (lookup ../categoryNames @index)}}
                            <div class="{{this}}"> {{../this}}</div>
                          {{/with}}
                        {{/each}}
                  </ul>
                  {{/each}}
                  </div><!-- /.tab-content -->
                {{/if}} 
                
              
            </div><!-- /.col -->
          </div>
        </section>