        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{groupName }}
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Club</a></li>
            <li class="active">{{groupName }}</li>
          </ol>
        </section>


        <!-- Main content -->
        <section class="content">
        <div class="row">
            <div class="col-md-12">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li{{#if isNew}} class="active"{{/if}}><a href="/posts/view?user={{user}}&#38;groupId={{groupId}}&#38;postType=New">New</a></li>
                  {{#each postStructures}}                
                  <li {{#compare this '==' ../postType }} class="active"{{/compare}}>
                    <a href="/posts/view?user={{../user}}&#38;groupId={{../groupId}}&#38;postType={{this}}">{{this}}s</a>
                  </li>
                  {{/each}}

                  <li class="dropdown pull-right">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-plus"></span><span class="caret"></span>
                  <ul class="dropdown-menu">
                    {{#each postStructures}}
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="/posts/new?user={{../user}}&#38;groupId={{../groupId}}&#38;postType={{this}}">{{this}}</a>
                    </li>
                    {{/each}}
                  </ul>
                  </li>

                </ul>
                <div class="box box-primary">
                  {{#each posts}}
                  <ul class="box-body col-md-12 info">                      
                        {{#each categoryValues}}
                          {{#with (lookup ../categoryNames @index)}}
                            <div class="{{this}}"> {{../this}}</div>
                          {{/with}}
                        {{/each}}
                  </ul>
                  {{/each}}

                  {{#if isNew}}
                    {{#each newPosts}}
                    <ul class="box-body col-md-12 info">
                        
                          {{#each categoryValues}}
                            {{#with (lookup ../categoryNames @index)}}
                              <div class="{{this}}"> {{../this}}</div>
                            {{/with}}
                          {{/each}}

                    </ul>
                    {{/each}}
                    {{/if}}
                  <!-- /.tab-pane -->



                  
                </div><!-- /.tab-content -->
              </div><!-- nav-tabs-custom -->
            </div><!-- /.col -->

        </section>