<<<<<<< HEAD:prototype/app/views/index.handlebars
{{> welcome}}
=======
{{> header}}
>>>>>>> 3a0e8be248237a75a3d427373c41f5f634e6fd11:app/views/index.handlebars

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>

  {{#each groups}}
  	<a href="/groups/{{../userId}}/{{_id}}">{{name}}</a>
  {{/each}}

   <a href="/groups/new">Create Group</a>
